*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 10vh;
}

.header{
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 1rem auto 0;
}
.main{
    line-height: 1rem;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333;
    padding: 1rem 0;
    text-align: right;
}

ul{
    list-style-type: none;
}

li a{
    color: white;
    text-decoration: none;
}

li{
    display: inline-block;
    margin-inline: 0.5rem;
}

li a:visited{
    color: 007acc;
}

li a:hover{
    text-decoration: underline;
    color: #ccc
}


.welcome{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.9rem;
}

.cta-button{
    text-decoration: none;
    margin-top: 0.5rem;
    background:  #333;
    display: inline-block;
    padding: 3 7 3 7;
    border-radius: 2rem;

}
.cta-button a{ 
    color: white;
    text-decoration: none;
}


.cta-button:hover{
    opacity: 0.5;
   transition: opacity 0.s;
}
.about-us{
    
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.9rem;
}
.our-product{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.9;
}
.you-can-contact-us{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
}

footer{
    margin-top: 1rem;
    width: 100%;
    height: 35%;
    text-align: center;
    color: white;
    background-color: #333;
    padding-top: .5rem;
}
.blue{
    background-color: #007acc;
    width: 100%;
    height: 35%;
}
h2{
    color: black;
    font-weight: bolder;
}
#home{
    background-color: #f9f9f9;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px 10;
} 
#home h2{
    font-size: 2rem;
    text-align: center auto;
} 
#product, #about, #contact{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px 10;
    margin-left: 10;
}