*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html,body{
    height: 290vh;
}

:root{
    --header: #4CAF50;
    --header-p: #A8D5BA;
    --font-fam: "Arial, Helvetica, sans-serif";
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: auto;
    background-color: var(--header);
    padding: 1.5rem;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.logo{
    font-family: var(--font-fam);
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding-left: 1rem;
}

li a{
    text-decoration: none;
    color: #fff;
}

.hero-section{
    display: flex;
    flex-direction: column;
    background-image: url("ab.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.hero-section>#msg>p{
    font-size: 2rem;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-fam);
    font-weight: bold;
}
 
#msg{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
} 

.cta-button{
    background-color: var(--header);
    width: 30%;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    padding: .8rem;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 1rem;
}

#about{
    height: 50vh;
    margin-top: 2rem; 
}

.about-us, .our-product{
    text-align: center;
}

p{
   margin-left: 2rem; 
   padding-top: 1rem;
}

h2 {
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    box-shadow: 2px 2px 5px;
    justify-content: center;
    margin: 2rem auto;
}

div{
    padding-top: 1.2rem;
}

button{
    margin-top: 1rem;
    background-color: var(--header);
    background-color: var(--header);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: .6rem 2rem;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 1rem;
    border: none;
    margin-bottom: 2rem;
}

footer{
    margin-top: 24rem; 
    background-color: #4CAF50;
    padding: 2rem;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
}

@media (max-width: 768px){}